*{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
nav{
    border-bottom: 1px solid black;
    height: 8vh;
    display: grid;
    grid-template-columns: 5fr 30fr 30fr 30fr 5fr;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}

#page-title{
    grid-column: 2/3;
    /* text-align: center; */
    display: flex;
    align-items: center;
    font-size: 5vh;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 4/5;
}
.nav-option {
    font-size: 2vh;
}
body{
    background: white;
}

#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
.miniature {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 35vh;
    margin: 3vh;
    padding-top: 3vh;
}

.title {
    
}

.authors {

}

.year {

}

.img {

}

.small-img {

}
img{
    height: 300px;
    width: 200px;
}